<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

     <link rel="stylesheet" type="text/css" href="/static/css/estilosejercicios.css">
</head>
<body>
   <h1>Inicio de sesión</h1>

<form method="post" action="{{ url_for('ejercicio2') }}">
        <label for="usuario">Usuario:</label>
        <input type="text" name="usuario" required><br>

        <label for="contrasena">Contraseña:</label>
    <br>
        <input type="password" name="contrasena" required><br>


    <button type="submit">Enviar</button>
    </form>

{% if usuario == "juan" and password == "admin" %}
   <p>Bienvenido administrador {{ usuario }}</p>

{% elif usuario == "pepe" and password == "user" %}
   <p>Bienvenido usuario {{ usuario }}</p>

{% elif usuario != "" and password != "" %}


{% endif %}
</body>
</html>